<div class="container">
  <h2>会員情報編集</h2>
  <%= form_with model:@public, url:"/public/customers/#{@public.id}", local:true do |f| %>


    <%= f.text_field :last_name %>


    <%= f.text_field :first_name %>


    <%= f.text_field :last_kana_name %>


    <%= f.text_field :first_kana_name %>

    <%= f.email_field :email %>


    <%= f.text_field :postalcode %>

    <%= f.text_field :address %>

    <%= f.text_field :telephone %>

    <%= f.submit '編集内容を保存' %>
  <% end %>
  
</div>