<div class="container flex-column">
　<div class="row my-3">
  <h3 class="col-3 table-active text-center">会員情報編集</h3>
  </div>
    <div class="row">
      <%= form_with model:@public, url:"/public/customers/#{@public.id}", local:true do |f| %>
        
        <div class="col mb-2">
        <%= f.label :名前%>
        <%= f.text_field :last_name %>
        <%= f.text_field :first_name %>
        </div>
        
        <div class="col mb-2">
        <%= f.label :フリガナ%>
        <%= f.text_field :last_kana_name %>
        <%= f.text_field :first_kana_name %>
        </div>
        
        <div class="col mb-2">
        <%= f.label :メールアドレス%>
        <%= f.email_field :email %>
        </div>
        
        <div class="col mb-2">
        <%= f.label :郵便番号%>
        <%= f.text_field :postalcode %>
        </div>
        
        <div class="col mb-2">
        <%= f.label :住所%>
        <%= f.text_field :address %>
        </div>
        
        <div class="col mb-2">
        <%= f.label :電話番号%>
        <%= f.text_field :telephone %>
        </div>
        
      <div class="col">
        <%= f.submit '編集内容を保存',class: "btn btn-sm btn-success" %>
      </div>
      <div class="col">
      </div>
      <%= link_to '退会する', public_confirm_unsubscribe_path(@public.id), class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>

  </div>
</div>