<div class="container">
  <h3 class="">マイページ</h3>
    <div class="row"%>
      <div>
        <h5><strong>登録情報</strong></h5>
        <%= link_to '編集する',edit_public_customer_path(@public), class: "btn btn-success" %>
      </div>
      <table class="table table-bordered" >
          <tr>
            <td class="table-active col-md-3">氏名</td>
            <td colspan="2"><%= @public.last_name%><%= @public.first_name %></td>
          </tr>
          <tr>
            <td class="table-active">カナ</td>
            <td><%= @public.last_kana_name %><%= @public.first_kana_name %></td>
          </tr>
          <tr>
            <td class="table-active">郵便番号</td>
            <td><%= @public.postalcode %></td>
          </tr>
          <tr>
            <td class="table-active">住所</td>
            <td><%= @public.address %></td>
          </tr>
          <tr>
            <td class="table-active">電話番号</td>
            <td><%= @public.telephone %></td>
          </tr>
          <tr>
            <td class="table-active">メールアドレス</td>
            <td><%= @public.email %></td>
          </tr>
      </table>
    <div>
      <div>
        <h5><strong>配送先</strong></h5>
      </div>
      <div>
        <%= link_to "一覧を見る", public_addresses_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div>
      <div>
        <h5><strong>注文履歴</strong></h5>
      </div>
      <div>
        <%= link_to "一覧を見る", public_orders_path,  class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
