<div id="header">
  <%= render "layouts/header" %>
</div>

<div class="container">
  <div class="row">
    <h2 class="col-5 my-5 table-active text-center">注文履歴詳細</h2>
  </div>
  <div class="row">
    <div class="col-8">
      <!--購入情報-->
      <table class="table table-bordered">
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to admin_customer_path(@order) do %>
              <%= @order.public.last_name %>  <%= @order.public.first_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postalcode %>  <%= @order.address %><br>
            <%= @order.destination %>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.pay %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url:admin_order_path, local: true do |f| %>
              <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
              <%= f.submit "更新", class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <!--購入商品詳細-->
      <h3>注文内容</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td align="right"><%= order_item.tax_included_price.to_s(:delimited) %></td>
              <td><%= order_item.item_quantity %></td>
              <td align="right"><%= ((order_item.tax_included_price) * (order_item.item_quantity)).to_s(:delimited) %></td>
              <%= form_with model: order_item, url: admin_order_item_path(order_item), local: true do |f| %>
                <td><%= f.select :production_status, OrderItem.production_statuses.keys.map {|k| [I18n.t("enums.order_item.production_status.#{k}"), k]}, selected: order_item.production_status %></td>
                <td><%= f.submit "更新" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <!--商品合計-->
      <table class="table table-bordered">
        <tr>
          <th>商品合計</th>
          <td align="right"><%= (@order.bill - @order.postage).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td align="right"><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td align="right"><%= @order.bill.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="footer">
  <%= render "layouts/footer" %>
</div>






