<div class="container flex-column">
　<div class="row my-3">
  <h3 class="col-3 table-active text-center">管理者新規会員登録</h3>
  </div>
<%= form_for(resource, as: resource_name, url: admin_registration_path) do |f| %>
  <%= render "admin/shared/error_messages", resource: resource %>

    <div class="form-group ">
      <div class="col-sm-9 form-inline mb-3">
      <label class="col-sm-3">メールアドレス </label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 form-inline mb-3">
      <label class="col-sm-3">パスワード
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
      </label>
      <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-9 form-inline mb-3">
      <label class="col-sm-3">確認用パスワード</label>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="actions">
      <div class="col-sm-5 form-inline mb-2">
      <div class="col-sm-7 text-center">
      <%= f.submit "新規登録",class:"btn btn-sm btn-success btn-primary mb-3"%>
      </div>
      </div>
      <div class="col-sm-5 form-inline mb-3">
      <div class="col-sm-7 text-center">
        <%= link_to "ログイン", new_admin_session_path,class: "btn btn-sm btn-primary" %>
      </div>
      </div>
    </div>
<% end %>
</div>

