<div class="container my-5">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-8">
            <%= attachment_image_tag @item, :image, size: "100x100" %>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title"><%= @item.name %></h5>
              <p class="card-text"><%= @item.explanation %></p>
              <div class="row">
                <p class="ml-3"><%= ((@item.tax_excluded_price * 1.08).round).to_s(:delimited) %> 円</p><p>(税込)</p>
              </div>
              <% if public_signed_in? %>
                <%= form_with model: @cart_item, url: public_cart_items_path, method: :post, local: true do |f| %>
                  <% if public_signed_in? %>
                    <%= f.hidden_field :public_id, :value => current_public.id %>
                  <% end %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <div class="cart-btn">
                    <% number = (1..20).to_a %>
                    <%= f.select :cart_quantity, number, class: "item-count" %>
                    <%= f.submit "カートに追加する", class: "btn btn-success btn-sm" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
