<footer class="mt-4">
  <div class='container'>
    <div class='row'>
      <div class="footer-text col-md-4">
        <h4></h4>
        <p>
          〒000-000<br/>
          長野県どっかにあります市-000<br/>
          080-0000-0000
        </p>
      </div>
      <div class="mx-auto">
        <p>CopyRight NaganoCake.inc<p>
      </div>
      <div class='contact'>
        <%= link_to url:"#", class:"top-link" do %>
          <i class="fab fa-instagram icon"></i>
        <% end %>
        <%= link_to url:"#", class:"top-link" do %>
          <i class="fab fa-twitter icon"></i>
        <% end %>
        <%= link_to url:"#", class:"top-link" do %>
          <i class="fab fa-facebook icon"></i>
        <% end %>
        <%= link_to url:"#", class:"top-link" do %>
          <i class="fas fa-envelope icon"></i>
        <% end %>
        <br/>
        <%= link_to "お問い合わせ", url:"#", class:"top-link icon" %>
        <br/>
        <%= link_to "ブログ", url:"#", class:"top-link icon" %>
      </div>
    </div>
  </div>
</footer>