<header>
  <% if current_page?(root_path) %>
    <nav class="navbar navbar-expand-sm navbar-light header-image-top" style="height: 100px">
  <% else %>
    <nav class="navbar navbar-expand-sm navbar-light header-image" style="height: 100px">
  <% end %>
    <div class="container">
      <div>
        <ul class="navbar-nav ml-auto">
          <% if public_signed_in? %>

          <!--顧客がログインしている時 -->
            <li data-rippleria class="nav-item">
              <%= link_to " マイページ", public_customer_path(current_public), class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " 商品一覧", public_path, class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " カート", public_cart_items_path, class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " ログアウト", destroy_public_session_path, method: :delete, class: 'btn btn-light' %>
            </li>

          <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->

          	<li data-rippleria class="nav-item">
              <%= link_to " 商品一覧", admin_customer_path(current_admin), class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " 会員一覧", admin_customers_path, class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <!--%= link_to " 注文履歴一覧", admin_order_path, class: 'btn btn-light' %>-->
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " ジャンル一覧", admin_categories_path, class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-light' %>
            </li>

          <% else %>
          <!-- ログインしていない時 -->

            <li data-rippleria class="nav-item">
              <%= link_to "マイページ", root_path, class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " 商品一覧", public_items_path, class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " 新規登録", new_public_registration_path, class: 'btn btn-light' %>
            </li>
            <li data-rippleria class="nav-item">
              <%= link_to " ログイン", new_public_session_path, class: 'btn btn-light' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>