</main>
    <header class='bg-header'>
      <nav class='navbar navbar-expand-md' style='height: 140px'>
        <div><%= link_to image_tag('logo.jpeg', size: "200x100"), root_path %></div>
        <div class="container-fluid">
            <ul class="nav navbar navbar-expand-lg navbar-light text-light navbar-nav ml-auto">
              <% if public_signed_in? %>
                <li class='text-body font-weight-bold'>
                <span>ようこそ、<%= @public.last_name %>さん！</span>
                </li>
                <li><%= link_to 'マイページ', public_customer_path(current_public), class:'nav-link text-body font-weight-bold mr-1' %></li>
                <li><%= link_to '商品一覧', public_items_path, class:'nav-link text-body font-weight-bold mr-1' %></li>
                <li><%= link_to 'カート', public_cart_items_path, class:'nav-link text-body font-weight-bold mr-1' %></li>
                <li><%= link_to 'ログアウト', destroy_public_session_path, method: :delete, class:'nav-link text-body font-weight-bold' %></li>
              <% elsif admin_signed_in? %>
                <li><%= link_to '商品一覧', admin_items_path, class:'nav-link text-body font-weight-bold' %></li>
                <li><%= link_to '会員一覧', admin_customers_path, class:'nav-link text-body font-weight-bold' %></li>
                <li><%= link_to '注文履歴一覧', admin_orders_path, class:'nav-link text-body font-weight-bold' %></li>
                <li><%= link_to 'ジャンル一覧', admin_categories_path, class:'nav-link text-body font-weight-bold' %></li>
                <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:'nav-link text-dark font-weight-bold' %></li>
              <% else %>
                <li><%= link_to 'about', about_path, class:'nav-link text-body font-weight-bold mr-1' %></li>
                <li><%= link_to '商品一覧', public_items_path, class:'nav-link text-body font-weight-bold mr-1' %></li>
                <li><%= link_to '新規登録', new_public_registration_path, class:'nav-link text-body font-weight-bold mr-1' %></li>
                <li><%= link_to 'ログイン', new_public_session_path, class:'nav-link text-body font-weight-bold' %></li>
              <% end %>
            </ul>
            <div class='text-light'>
　　　　　　　<form id="form2"  method="get">
　　　　　　　　<input id="sbox2"  id="s" name="s" type="text" placeholder="検索"/>
　　　　　　　　<button type="submit" id="sbtn2"><i class="fas fa-search"></i></button>
　　　　　　　</form>
            </div>
        </div>
      </nav>
    </header>
